<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Chat app</title>
</head>
<body>
   
    <div class="appContainer">

        <div id="msgContainer"></div>

        <form id="msgsControl">
            <input type="text" id="msgInput" placeholder="message">
            <button type="submit" id="sendMsg">send</button>
        </form>




    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
</body>
</html>